<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
        <env name="ADVANCECARE_ENV" value="QUAL"/>
        <env name="HTTP_MAX_RETRIES" value="3"/>
        <env name="HTTP_BACKOFF_FACTOR" value="2.0"/>
        <env name="HTTP_REQUEST_TIMEOUT_SEC" value="30"/>
        <env name="TOKEN_CACHE_TTL_SEC" value="3600"/>
    </php>
</phpunit>
